html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    /* Force pixelated rendering */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}